#pragma code_page(65001)
1 VERSIONINFO
FILEFLAGS 0x0
FILEFLAGSMASK 0x3f
PRODUCTVERSION 0, 1, 0, 0
FILEVERSION 0, 1, 0, 0
FILEOS 0x40004
FILETYPE 0x1
FILESUBTYPE 0x0
{
BLOCK "StringFileInfo"
{
BLOCK "000004b0"
{
VALUE "FileVersion", "0.1.0"
VALUE "OriginalFilename", "desktop-sharkie.exe"
VALUE "ProductName", "Desktop Sharkie"
VALUE "LegalCopyright", "Copyleft © 2021"
VALUE "ProductVersion", "0.1.0"
VALUE "FileDescription", "Desktop Sharkie"
}
}
BLOCK "VarFileInfo" {
VALUE "Translation", 0x0, 0x04b0
}
}
1 ICON "src/assets/icon.ico"
